<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@*//THIS IS THE STUFF COMMON TO EVERY PAGE*@
<body>
    @*//Navbar - it works!*@
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">My Closet Helper</a>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Closet
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Tops", "Index", "Tops")</li>
                        <li>@Html.ActionLink("Bottoms", "Index", "Bottoms")</li>
                        <li>@Html.ActionLink("Booties", "Index", "Shoes")</li>
                        <li>@Html.ActionLink("Accessories", "Index", "NeckAccessories")</li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>



    @*//Body bit*@
    <div class="container-fluid body-content">
        @RenderBody()

        <div class="row">@*empty for formatting*@</div>
        @*//Footer!*@
        <div class="row">
                <div class="footer col-xs-12 col-sm-12 col-md-12 col-lg12">
                    <p class="credit">Created by: Alexandria Ware @DateTime.Now.Year</p>
                    <p>All the copyrightings</p>
                </div>
            </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
