@model IEnumerable<WardrobeMVC.Models.NeckAccessory>

@{
    ViewBag.Title = "Index";
}

@*//This is the main landing page for the Accessories category*@

<p class="head">Accessories</p>

@*loop for each element to show up*@

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4">@*//Empty for formatting*@</div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="@Html.DisplayFor(modelItem => item.Photo)" />
                <h3 class="info" style="font-weight:800">@Html.DisplayFor(modelItem => item.Name)</h3>
                <p class="info">
                    @Html.ActionLink("Details", "Details", new { id = item.NeckAccessoryID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.NeckAccessoryID })

                </p>
            </div>
        </div>
        <div class="col-md-4">@*//Empty for formatting*@</div>
    </div>
}


@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NeckAccessoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NeckAccessoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NeckAccessoryID })
        </td>
    </tr>
}

</table>*@
