@model WardrobeMVC.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Top</h4>

    <p>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</p>
    <p>@Html.DisplayNameFor(model => model.Type) : @Html.DisplayFor(model => model.Type)</p>
    <p>@Html.DisplayNameFor(model => model.Color) : @Html.DisplayFor(model => model.Color)</p>
    <p>@Html.DisplayNameFor(model => model.Season) : @Html.DisplayFor(model => model.Season)</p>
    <p>@Html.DisplayNameFor(model => model.Occasion) : @Html.DisplayFor(model => model.Occasion)</p>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TopID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
